/* 业务逻辑 */
.main{
    width: 100%;
    min-width: 100vw;
    height: 100%;
    min-height: 100vh;
    background: url('/images/article-bg-day.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.main .loginPages{
    width: 50%;
    height: 50%;
    padding: 1em;
    /* margin: 0 auto; */
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main .loginPages h2{
    font-size: 2em;
    width: 20em;
    /* height: 0em; */
}

.main .loginPages input{
    padding: 1em;
    width: 20em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.main .loginPages .btnSubmit{
    background-color: lightblue;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    cursor: pointer;
    width: 20em;
}