.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../images/article-bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.main .title {
    width: 278px;
    height: 45px;
    margin: 0 auto;
    text-align: center;
    /* position: absolute;
    top: 24%;
    left: 50%;
    transform: translateX(-50%); */
    color: white;
    font-size: 30px;
    font-family: 'zk';
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.main .returnBtn {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
    transition: all 1s;
}

.main .returnBtn:hover {
    cursor: pointer;
    background-color: #fff;
    color: black;
    border-radius: 20px;
}

.login-box {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    width: 400px;
    padding: 40px;
    margin: 20px auto;
    /* transform: translate(-50%, -55%); */
    background: rgba(0, 0, 0, .9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box p:first-child {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    font-family: 'zk';
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px
}

.login-box .btn:hover {
    background: #fff;
    color: #272727;
    border-radius: 5px;
}

.login-box .btn span {
    position: absolute;
    display: block;
}

.login-box .btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box .btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: btn-anim2 1.5s linear infinite;
    animation-delay: .375s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box .btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: btn-anim3 1.5s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box .btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1.5s linear infinite;
    animation-delay: 1.125s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.login-box p:last-child {
    color: #aaa;
    font-size: 14px;
}

.login-box .btn.a2 {
    color: #fff;
    text-decoration: none;
}

.login-box .btn.a2:hover {
    background: transparent;
    color: #aaa;
    border-radius: 5px;
}

.main .footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
}

.main .copyright {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}

/* 独立开发的登录input */
/* .main .group {
    position: relative;
    margin-top: 20px;
}

.main .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.main .input:focus {
    outline: none;
}

.main label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.main .input:focus~label,
.main .input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.main .bar {
    position: relative;
    display: block;
    width: 200px;
}

.main .bar:before,
.main .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.main .bar:before {
    left: 50%;
}

.main .bar:after {
    right: 50%;
}

.main .input:focus~.bar:before,
.main .input:focus~.bar:after {
    width: 50%;
}

.main .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.main .input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
} */

.btn{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px;
    background-color: black;
    font-family: "PingFang SC", "zk", "HarmonyOS_Sans";
}